htlm 
{
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.App 
{
    max-width: 100vw;
    min-height: 100vh;
}

.footer 
{
    max-width: 100vw;
    max-height:10vh;
    text-align: center;
    font-size: 1.1rem;
    color: #828282;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    min-height:85vh;
    margin: 50px 0;
}

.card 
{
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    margin: 10px;
}

.card img 
{ 
    border-radius: 24px;
    width: 400px;
    height: 300px;
    position: relative;
}
.card_header 
{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.card_header small {
    color: #828282;
}


.card-intro 
{
    display: flex;
    margin: 15px auto;
    max-width: 90vw;
    justify-content: space-between;
}

.card h6 
{
    margin: 0;
    padding:0 10px;
    font-size: 0.9rem;
    color: #333333;
    position: relative;
}

.beds 
{
    font-weight: bold;
    color: #828282;
}
.rating 
{
    font-size: small;
}

.cardList
{
    max-width: 95vw;
    display: flex;
    justify-content: center;
    row-gap: 30px;
    flex-wrap: wrap;
} 



.card-intro small
{
    display: inline;
    margin: 0;
    color: #828282;
    font-size: 1.1rem;
}
.btn:hover
{
    text-decoration: underline;
}

.header 
{
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
    max-height:5vh ;
    margin: 30px auto;
    flex-wrap: wrap;
}
.header img 
{
    width: 100px;
    height: 100%;
} 
.filterForm 
{
    min-width: 300px;
    max-width: 500px;
    max-height: 80px;
    min-height: 60px;
    border-radius: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;;
}
.filterForm input 
{
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 40%;
    font-size: 1rem;
    color: #333333;
    border-right: solid 1px #EEEEEE;
}
.filterForm input::placeholder {
    color: #828282;
    font-size: 0.8rem;
}
.filterForm button 
{
    border: none;
    outline: none;
    background: transparent;
    color: #EB5757;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
}

.cardList h1 
{
    flex-basis: 82%;
    padding-left: 30px;
}

.dropdown 
{
    position: absolute;
    z-index: 5;
    width: 100%;
    min-height: 60vh;
    max-height: auto;
    background: white;
    margin: 0;
    left: 0;
    top: 0;
    box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.1);
}


#hiddenForm 
{
    display: flex;
    height: 70px;
    width: 80vw;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
    top: 15px;
    left: auto;
    margin: auto;
}

.inputArea 
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    height: 100%;
    border-right: solid 1px #EEEEEE;
}

.inputArea input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333333;
    width: 100%;
    height: 80%;
    padding: 0 5px;
}

.inputArea label
{
    padding: 5px 10px;
    font-size: 0.8rem;
    color: #333333;
}

.inputArea input::placeholder
{
    font-size: 1rem;
    padding:5px;
    color: #828282;
    font-weight: 100;
}

.btnArea 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
}



.hidden-btn 
{
    width: 100px;
    background-color: #EB5757;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.3rem;
    height: 40px;
    padding: 5px 10px;
    border-radius: 12px;
}


.hidden_section 
{
    display: flex;
    width: 80vw;
    padding: 20px 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin: 5px auto;
}

.hidden_section > div 
{
    width:50%;
    padding:15px 10px;
}

.location-list 
{
    width: 30% !important;
}

.location-list li 
{
    list-style: none;
    font-size: 1.1rem;
    color: #828282;
    line-height: 1.5em;
}

.location-list h2
{
    color: #333333;
    padding-bottom: 15px;
    margin-left: 10px;
}
.number-input-area
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.number-input-area input {
    width: 60px;
    height: 20px;
    border: 1px solid #333333;
    border-radius: 6px;
}

.number-input-area label 
{
    font-size: 1.2rem;
    color: #333333;
    padding: 5px 0;
}


.guestArea {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* padding: 10px 5px; */
}

.guestArea h3 {
    color: #333333;
}
.guestArea small {
    color: #828282;
}

.guest_btn_area {
    display: flex;
    min-width:100px;
    max-width: 200px;
    width: 150px;
    justify-content: space-between;
    padding: 5px 0;
}
.guest_btn_area button {
    width: 30px;
    height: 30px;
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid #333333;
    color: #333333;
    background: none;
}

.guest_btn_area span {
    font-size: 1.1rem;
    color: #828282;
}

.noResults
{
    width: 50%;
    margin: 15px auto;
    text-align: center;
}

.noResult p 
{
    font-size: 1.3rem;
    color: #828282;
}
.noResult button
{
    border: none;
    outline: none;
    background: transparent;
    color: #EB5757;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
}
.noResult button:hover{
    text-decoration: underline;
}